<ul>
  <li ng-repeat="model in models"><a href="#/{{model.id}}">{{model.name}}</a></li>
</ul>

<div ng-controller="UserForm">
    
      <form name="myForm">
    
        <label>Имя:</label><br/>
        <input type="text" ng-model="form.name" required/> <br/><br/>
    
        <label>Файл:</label> <br/>
        <input type="text" ng-model="form.image" size="33" required/> <br/>
      <button ng-click="cancel()" ng-disabled="isCancelDisabled()">Отмена</button>
      <button ng-click="save()" ng-disabled="isSaveDisabled()">Сохранить</button>
    </form>
    </div>